<ul class="nav-list p-0">
    <li class="nav-list-item">
        <a href="{% url 'home' %}" class=" font-black pl-4 letter-spacing-05">Home</a>
    </li>
    <li class="nav-list-item">
        <a href="{% url 'health_beauty' %}" class=" font-black pl-4 letter-spacing-05">Health and Beauty</a>
    </li>
    <li class="nav-list-item">
        <a href="{% url 'home_lifestyle' %}" class=" font-black pl-4 letter-spacing-05">Home and Lifestyle</a>
    </li>
    <li class="nav-list-item">
        <a href="{% url 'sports_travel' %}" class=" font-black pl-4 letter-spacing-05">Sports and Travel</a>
    </li>
    <li class="nav-list-item">
        <a href="{% url 'food_beverages' %}" class=" font-black pl-4 letter-spacing-05">Food and Beverages</a>
    </li>
    <li class="nav-list-item">
        <a href="{% url 'electronic_accessories' %}" class=" font-black pl-4 letter-spacing-05">Electronic Accessories</a>
    </li>
    <li class="nav-list-item">
        <a href="{% url 'fashion_accessories' %}" class=" font-black pl-4 letter-spacing-05">Fashion Accessories</a>
    </li>

    
    
   
    

    
   
    

    <li class="nav-list-item">
            <a href="{% url 'logout' %}" class=" font-black pl-4 letter-spacing-05">Logout</a>
    </li> 
    
</ul>
